// Typography
$heading-font:  'Oswald', sans-serif;
$body-font:     'Open Sans', sans-serif;
$code-font:     monospace;

$font-size:               18px;
$heading-scaling-factor:  .25;

$heading-weight:    700;
$body-bold-weight:  700;

$body-line-height: 1.5rem;
