numpy>=1.22
torch~=1.13.0
transformers>=4.24.0
torchtoolkit>=0.0.4
matplotlib>=3.6.2
miditok~=1.4.2
miditoolkit>=0.1.16
scipy>=1.9.3
tensorboard>=2.11.0
seaborn>=0.12.1
pandas>=1.5.2
tqdm>=4.64.0
scikit-learn>=1.1.2
scikit-dimension>=0.3.2
torchmetrics~=0.11.0
IsoScore~=1.0
umap-learn~=0.5.3