{{- $svgBundle := partialCached "svg-bundle" . -}}

<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" data-mode="{{ if .Site.Params.Style.isDark }}dark{{ else }}light{{ end }}">
  <head prefix="og: http://ogp.me/ns#">
    {{ partial "head" . }}
  </head>

  <body>

    <header>
      {{ partialCached "header" . }}
    </header>

    <div class="filler">
      {{ block "main" . }}
        <!-- Stuff -->
      {{ end }}
    </div>
    
    <footer>
      {{ partial "footer" . }}
    </footer>
    
    <!-- Search -->
    {{ if eq .Layout "search" }}
      {{ $searchJS := resources.Get "js/search.js" | resources.ExecuteAsTemplate (print "js/search.js" | relLangURL) . | minify | fingerprint }}
      <script async type="module" src="{{ $searchJS.Permalink }}" integrity="{{ $searchJS.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}

    <!-- KaTeX -->
    {{ if or .Params.katex .Site.Params.katex .Params.math .Site.Params.math }}
      {{ partial "katex" . }}
    {{ end }}

  </body>
</html>
