{{ $file    := .Params.cover }}
{{ $altText := .Params.coverAlt }}

{{ $destination := $file }}


<!-- Image processing configuration -->
{{ $imgProcConfig := partialCached "utilities/image-processing-config" . }}


<!-- Default image path -->
{{ $imgPath := .Page.Param "imgPath" }}

{{ if $imgPath }}
  {{ $file = path.Join $imgPath .Params.cover }}
{{ end }}

{{ $inputFile := .Page.Resources.GetMatch $file }}


{{ with partial "utilities/image-processing" (dict "context" . "input" $inputFile "config" $imgProcConfig) }}

  {{ if .sets.default }}

    <picture>
    
      <!-- Extra sets -->
      {{ range .sets.extra }}
        <source
          srcset='{{ delimit .source ", " }}'
          type="{{ .mediaType }}"
        >
      {{ end }}
      
      <!-- Default set -->
      <source
        srcset='{{ delimit .sets.default ", " }}'
        type="{{ .default.MediaType }}"
      >
      
      <img
        class="cover"
        {{ with .default }}
          src="{{ .RelPermalink }}"
          width="{{ .Width }}"
          height="{{ .Height }}"
        {{ end }}
        {{ with $altText }}alt="{{ . }}"{{ end }}
      >
      
    </picture>

  {{ else }}

    <!-- Avoid trying to get width and height from SVG files -->
    {{ if .input }}
      <img
        class="cover"
        {{ with .input }}
          src="{{ .RelPermalink }}"
          {{ if ne .MediaType.SubType "svg" }}
            width="{{ .Width }}"
            height="{{ .Height }}"
          {{ end }}
        {{ end }}
        {{ with $altText }}alt="{{ . }}"{{ end }}
      >
    {{ else }}
    
      <!-- If local file isn't found, assume it's a remote file -->
      {{ with ($destination | safeURL) }}
        <img
          class="cover"
          src="{{ . }}"
          {{ with $altText }}alt="{{ . }}"{{ end }}
        >
      {{ end }}
    {{ end }}

  {{ end }}
  
{{ end }}
