<!-- Get SVG bundle -->
{{ $svgBundleLink := (partialCached "svg-bundle" .) }}

<!-- Get default accent colors -->
{{ $defaultLightAccent  := .Site.Params.Style.lightAccent  | default .Site.Data.default.style.lightAccent }}
{{ $defaultDarkAccent   := .Site.Params.Style.darkAccent   | default .Site.Data.default.style.darkAccent }}

{{ $allAccentColors := union (slice $defaultLightAccent $defaultDarkAccent) .Site.Params.Style.presets }}

<div class="req-js">
  <button class="outline-dashed" title="{{ T "changeMode" }}"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><use xlink:href="{{ $svgBundleLink }}#adjust"/></svg></button><input class="outline-dashed" type="color" list="presets" value="{{ if .Site.Params.Style.isDark }}{{ $defaultDarkAccent }}{{ else }}{{ $defaultLightAccent }}{{ end }}" title="{{ T "changeAccent" }}" aria-label="{{ T "changeAccent" }}"><datalist id="presets">{{ range $allAccentColors }}<option value="{{ . }}">{{ end }}</datalist>
</div>

<!-- noscript notice -->
{{ if .Site.Params.hasNoscriptNotice }}
  <noscript>
    <p class="noscript">{{ T "noscript" }}</p>
  </noscript>
{{ end }}
