<!-- Main CSS -->
{{ $main := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | toCSS | minify | fingerprint }}
<link crossorigin="anonymous" href="{{ $main.Permalink }}" integrity="{{ $main.Data.Integrity }}" rel="stylesheet">


<!-- If JS is disabled -->
<noscript>

  {{ $darkAccent   := .Site.Params.Style.darkAccent   | default .Site.Data.default.style.darkAccent }}
  {{ $lightAccent  := .Site.Params.Style.lightAccent  | default .Site.Data.default.style.lightAccent }}

  {{ if .Site.Params.Style.ignoreSystemSettings }}

    {{ if .Site.Params.Style.isDark }}
      <meta content="{{ $darkAccent }}" name="theme-color">
    {{ else }}
      <meta content="{{ $lightAccent }}" name="theme-color">
    {{ end }}

  {{ else }}
    <meta content="{{ $darkAccent }}" media="(prefers-color-scheme: dark)" name="theme-color">
    <meta content="{{ $lightAccent }}" media="(prefers-color-scheme: light)" name="theme-color">
  {{ end }}

  {{ $noscript := resources.Get "scss/noscript.scss" | resources.ExecuteAsTemplate "css/noscript.scss" . | toCSS | minify | fingerprint }}
  <link crossorigin="anonymous" href="{{ $noscript.Permalink }}" integrity="{{ $noscript.Data.Integrity }}" rel="stylesheet">

</noscript>
