<!--
  KaTeX
  There are 50+ fonts, but these seem to be the most used
  Adjust as necessary
-->

{{ $katexVersion := .Site.Data.default.libs.katex }}

<link as="font" crossorigin="anonymous" href="/libs/katex@{{ $katexVersion }}/dist/fonts/KaTeX_Main-Regular.woff2" rel="preload" type="font/woff2">
<link as="font" crossorigin="anonymous" href="/libs/katex@{{ $katexVersion }}/dist/fonts/KaTeX_Math-Italic.woff2" rel="preload" type="font/woff2">
<link as="font" crossorigin="anonymous" href="/libs/katex@{{ $katexVersion }}/dist/fonts/KaTeX_Size2-Regular.woff2" rel="preload" type="font/woff2">
<link as="font" crossorigin="anonymous" href="/libs/katex@{{ $katexVersion }}/dist/fonts/KaTeX_Size4-Regular.woff2" rel="preload" type="font/woff2">
