<!-- KaTeX -->
{{ $katexVersion := .Site.Data.default.libs.katex }}

{{ $katexCSS := resources.Get (printf "libs/katex@%s/dist/katex.css" $katexVersion) | minify | fingerprint }}
<link crossorigin="anonymous" href="{{ $katexCSS.Permalink }}" integrity="{{ $katexCSS.Data.Integrity }}" rel="stylesheet">

{{ $katexJS := resources.Get (printf "libs/katex@%s/dist/katex.js" $katexVersion) | minify | fingerprint }}
<script crossorigin="anonymous" defer integrity="{{ $katexJS.Data.Integrity }}" src="{{ $katexJS.Permalink }}"></script>


<!-- mhchem extension -->
{{ if or (in .Params.katexExtensions "mhchem") (in .Site.Params.katexExtensions "mhchem") }}

  {{ $mhchem := resources.Get (printf "libs/katex@%s/dist/contrib/mhchem.js" $katexVersion) | minify | fingerprint }}
  <script crossorigin="anonymous" defer integrity="{{ $mhchem.Data.Integrity }}" src="{{ $mhchem.Permalink }}"></script>

{{ end }}


<!-- copy-tex extension -->
{{ if or (in .Params.katexExtensions "copy-tex") (in .Site.Params.katexExtensions "copy-tex") }}

  {{ $copyTexJS := resources.Get (printf "libs/katex@%s/dist/contrib/copy-tex.js" $katexVersion) | minify | fingerprint }}
  <script crossorigin="anonymous" defer integrity="{{ $copyTexJS.Data.Integrity }}" src="{{ $copyTexJS.Permalink }}"></script>
  
{{ end }}


<!--
  auto-render extension + auto-render options + tabindex HACK (see below)
  
  Chrome will ignore "scroll" elements while navigating
  via keyboard (while Firefox will not)
  
  The workaround used here is to inject "tabindex=0" after
  the auto-render extension work is done
-->
{{ $autoRender := resources.Get (printf "libs/katex@%s/dist/contrib/auto-render.js" $katexVersion) }}
{{ $katexAutoRenderOptions := resources.Get "js/katex-auto-render-options.js" }}
{{ $katexPostRender := resources.Get "js/katex-post-render.js" | resources.ExecuteAsTemplate "js/katex-post-render.js" . }}

{{ $katexCustomRender := slice $autoRender $katexAutoRenderOptions $katexPostRender | resources.Concat "js/katex-custom-render.js" | minify | fingerprint }}
<script crossorigin="anonymous" defer integrity="{{ $katexCustomRender.Data.Integrity }}" src="{{ $katexCustomRender.Permalink }}"></script>
