<!--
  Usage:
    img "weird_cat.jpg" "Something that can (or not) be a cat."
    img src="weird_cat.jpg" alt="Something that can (or not) be a cat."
    img class="border" src="weird_cat.jpg" alt="Something that can (or not) be a cat." resize=false
    img "weird_cat.jpg" "Something that can (or not) be a cat." "border" false

  Default available classes:
    border
    borderless
-->

{{ $file    := .Get "src"     | default (.Get 0) }}
{{ $caption := (.Get "caption" | default (.Get 1)) | markdownify }}
{{ $class   := .Get "class"   | default (.Get 2) }}
{{ $resize  := .Get "resize"  | default (.Get 3) }}
{{ $altText := .Get "alt"     | default $caption }}

{{ $destination := $file }}


<!-- Image processing configuration -->
{{ $imgProcConfig := partialCached "utilities/image-processing-config" . }}

<!-- Default image path -->
{{ $imgPath := .Page.Param "imgPath" }}

{{ if $imgPath }}
  {{ $file = path.Join $imgPath $file }}
{{ end }}

{{ $inputFile := .Page.Resources.GetMatch $file }}


{{ with partial "utilities/image-processing" (dict "context" . "input" $inputFile "resize" $resize "config" $imgProcConfig) }}

  {{ if .sets.default }}
  
    <figure>
      <picture>
      
        <!-- Extra sets -->
        {{ range .sets.extra }}
          <source
            srcset='{{ delimit .source ", " }}'
            type="{{ .mediaType }}"
          >
        {{ end }}
        
        <!-- Default set -->
        <source
          srcset='{{ delimit .sets.default ", " }}'
          type="{{ .default.MediaType }}"
        >
        
        <img
          {{ with $class }}class="{{ . }}"{{ end }}
          loading="lazy"
          {{ with .default }}
            src="{{ .RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
          {{ end }}
          {{ with $altText }}alt="{{ . }}"{{ end }}
        >
        
      </picture>
      
      {{ with $caption }}
        <figcaption>{{ . }}</figcaption>
      {{ end }}
    </figure>
    
  {{ else }}

    <!-- Avoid trying to get width and height from SVG files -->
    {{ if .input }}
    
      <figure>
        <img
          {{ with $class }}class="{{ . }}"{{ end }}
          loading="lazy"
          {{ with .input }}
            src="{{ .RelPermalink }}"
            {{ if ne .MediaType.SubType "svg" }}
              width="{{ .Width }}"
              height="{{ .Height }}"
            {{ end }}
          {{ end }}
          {{ with $altText }}alt="{{ . }}"{{ end }}
        >
      {{ with $caption }}
        <figcaption>{{ . }}</figcaption>
      {{ end }}
      </figure>
      
    {{ else }}
    
      <!-- If local file isn't found, assume it's a remote file -->
      {{ with ($destination | safeURL) }}
      
      <figure>
        <img
          {{ with $class }}class="{{ . }}"{{ end }}
          loading="lazy"
          src="{{ . }}"
          {{ with $altText }}alt="{{ . }}"{{ end }}
        >
        
        {{ with $caption }}
          <figcaption>{{ . }}</figcaption>
        {{ end }}
      </figure>
      {{ end }}
    {{ end }}

  {{ end }}
  
{{ end }}
