{{ if .Site.Params.Social }}

  <!-- Get SVG bundle -->
  {{ $svgBundleLink := (partialCached "svg-bundle" .) }}
  
  <!-- Reduce repetition... -->
  {{ $centralized   := $.Site.Params.Social.Centralized }}
  {{ $decentralized := $.Site.Params.Social.Decentralized }}
  
  
  <div class="social">
  
    {{ range .Site.Data.social }}
    
      {{ $currentEntry  := .entry }}
      {{ $currentLabel  := .label }}
      {{ $currentBase   := .base }}
      {{ $currentIcon   := .icon.id }}
      
      {{ if not .decentralized }}
      
        {{ with (index $centralized $currentEntry) }}
        
          {{ $url   := $currentBase | replaceRE "<username>" (index . 0) }}
          {{ $label := $currentLabel }}
          
          {{ with (index . 1) }}
            {{ $label = . }}
          {{ end }}
          
          <a class="btn" href="{{ $url }}" rel="me nofollow" title="{{ $label }}">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="{{ $svgBundleLink }}#{{ $currentIcon }}"/>
            </svg>

            <p>{{ $label }}</p>
          </a>

        {{ end }}

      {{ else }}

        {{ if (index $decentralized $currentEntry) }}

          {{ range (index $decentralized $currentEntry) }}
            <a class="btn" href="{{ index . 0 }}" rel="me nofollow" title="{{ printf "%s (%s)" (index . 1) $currentLabel }}">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <use xlink:href="{{ $svgBundleLink }}#{{ $currentIcon }}"/>
              </svg>

              <p>{{ index . 1 | truncate 15 }}</p>
            </a>
          {{ end }}
          
        {{ end }}
        
      {{ end }}

    {{ end }}

  </div>
{{ end }}